name: test every commit
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: extractions/setup-just@v1
      - run: just install-dependencies
      - run: just build
      - run: just test
